* {
	word-break: keep-all;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

h1,
p {
	color: white;
	margin: 15px;
	position: relative;
	z-index: 1;
	list-style: none;
}

p {
	margin-left: 0;
}

h2 {  
	color: white;
	margin: 15px;
	font-size: 13px;
	position: fixed;
	z-index: 1;
	bottom: 0;
	padding: 3px;
}

h2:hover {
	color: gold;
}

.img-m {
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 15px;
	font-size: 12px;
}

.first {
	position: fixed;
	bottom: 23px;
	left: 0;
	text-shadow: 0px 0px 5px black;
}

.open {
	position: fixed;
	bottom: 65px;
	left: 0;
}

.gapbt {
	position: fixed;
	bottom: 23px;
	left: 0;
}

.gap {
	font-size: 22px;
	padding: 6px;
	display: inline-block;
	color: white;
	position: fixed;
	text-shadow: 0px 0px 7px black;
}

.last_title {
	font-size: 20px;
	text-shadow: 0px 0px 7px black;
}

.last {
	font-size: 15px;
	margin-top: 18px;
	text-shadow: 0px 0px 4px black;
}

ul {
	color: white;
	font-size: 14px;
	width: 400px;
	padding-top: 35px;
	text-shadow: 0px 0px 4px black;
}

.writing {
	position: fixed;
	top: 0;
	z-index: 1;
	max-width: 100%;
	display: flex;
}

.one {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 80vh;
	gap: 10px;
	padding: 0 15px;
	box-sizing: border-box;
}

.a,
.b,
.c,
.d,
.e {
	height: 100%;
	display: flex;
}

.g1,
.g2 {
	height: 100%;
	display: flex;
	gap: 10px;
}

.a img,
.b img,
.c img,
.d img,
.e img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.garagegap {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
}

.garagegap img {
	height: 100vh;
	width: auto;
	display: block;
}

.garageglove,
.garagepaper,
.garagerock,
.garagecart {
	display: inline-block;
	width: calc(25% - 4px);
	height: 100vh;
	vertical-align: top;
}

.garageglove img,
.garagepaper img,
.garagerock img,
.garagecart img,
.contentslight img,
.contentsspeaker img,
.contentsheater img,
.stuwall img,
.stutape img,
.stugarbage img,
.sciscale img,
.sciliquid img,
.sciwhat img,
.scispoon img,
.multipillow img,
.multishoes img,
.multiclean img,
.multismell img,
.stuchair img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.stuwall,
.stuchair,
.stutape,
.stugarbage {
	display: inline-block;
	width: calc(25% - 4px);
	height: 100vh;
	vertical-align: top;
}

.sciwhat,
.sciscale,
.sciliquid,
.scispoon {
	display: inline-block;
	width: calc(25% - 4px);
	height: 100vh;
	vertical-align: top;
}

.multipillow,
.multishoes,
.multiclean,
.multismell {
	display: inline-block;
	width: calc(25% - 4px);
	height: 100vh;
	vertical-align: top;
}

.contentslight,
.contentsspeaker,
.contentsheater {
	display: inline-block;
	width: calc(33.3% - 4px);
	height: 100vh;
	vertical-align: top;
}

.img-pc {
	display: block;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.img-pc img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

@media screen and (max-width: 900px) {

	.wrap {
		padding-top: 70px;
	}

	.img-pc {
		display: none;
	}

	.img-m {
		display: block;
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.img-m img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	body {
		background-color: black;
		margin: 0;
		padding: 0;
	}

	h1,
	p {
		color: white;
		margin: 15px;
		position: relative;
		z-index: 1;
		list-style: none;
	}

	.pp {
		margin: 5px;
		width: 250px;
	}

	h2 {
		color: white;
		margin: 15px;
		font-size: 13px;
		position: fixed;
		z-index: 1;
		bottom: 0;
		padding: 3px;
	}

	h2:hover {
		color: gold;
	}

	ul {
		color: white;
		font-size: 15px;
		width: 400px;
		margin-top: 20px;
	}

	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
	}

	.first {
		position: fixed;
		bottom: 23px;
		left: 0;
		text-shadow: 0px 0px 5px black;
	}

	.open {
		position: fixed;
		bottom: 65px;
		left: 0;
	}

	.gapbt {
		position: fixed;
		bottom: 23px;
		left: 0;
	}

	.gap {
		font-size: 20px;
		padding: 6px;
		display: inline-block;
		color: white;
		position: fixed;
	}

	.last_title {
		font-size: 18px;
		margin-bottom: 1px;
		text-shadow: 0px 0px 7px black;
	}

	.last {
		font-size: 13px;
		margin-top: 8px;
		text-shadow: 0px 0px 4px black;
	}

	.writing {
		position: fixed;
		top: 0;
		z-index: 1;
		display: block;
		justify-content: center;
		align-items: center;
	}

	.one {
		display: flex;
		margin-left: 15px;
		flex-direction: column;
		width: 96vw;
		height: auto;
		overflow: auto;
		gap: 10px;
		padding: 0;
		box-sizing: border-box;
	}

	.g1, .g2 {
		display: flex;
		width: 100%;
		height: auto;
		overflow: none;
		gap: 10px;
		padding: 0;
		box-sizing: border-box;
	}

	.a, .b, .c, .e, .d {
		display: flex;
		flex-direction: column;
		height: auto;
		overflow: none;
		padding: 0;
		box-sizing: border-box;
	}

	.a {
		width: 49.5%;
	}

	.b {
		width: 49%;
		padding-right: 9px;
	}

	.c {
		width: 51.4%;
	}

	.e {
		width: 49%;
		padding-right: 9px;

	}

	.d {
		width: 100%;
		padding-right: 10px;
	}

	.garagegap {
		display: block;
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	.garagegap img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.garageglove img,
	.garagepaper img,
	.garagerock img,
	.garagecart img,
	.contentslight img,
	.contentsspeaker img,
	.contentsheater img,
	.stuwall img,
	.sciscale img,
	.sciliquid img,
	.sciwhat img,
	.multipillow img,
	.multishoes img,
	.multiclean img,
	.multismell img, {
		width: 100%;
		height: auto;
		max-height: 40vh;
		object-fit: contain;
	}

	.stuchair img{
		width: 100%;
		max-height: 60vh;
		padding-left: 0px;
		padding-bottom: 50px;
		object-fit: contain;
	}

	.contentslight,
	.contentsspeaker,
	.contentsheater,
	.multipillow,
	.multishoes,
	.multiclean,
    .multismell,
	.garageglove,
	.garagepaper,
	.garagerock,
	.garagecart,
	.sciwhat,
	.sciscale,
	.sciliquid,
	.scispoon,
	.stuwall,
	.stutape,
	.stugarbage,
	.stuchair {
		width: 100%;
		height: auto;
		padding-bottom: 30px;
	}
}
